.page {
  --background: #000000;
  --foreground: #ffffff;

  background: var(--background);

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: var(--font-inter-thin);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 1;
  color: var(--foreground);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  color: var(--foreground);
}

.headline {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: var(--foreground);
  font-family: var(--font-inter-regular);
}

.brackets {
  font-size: 40px;
  font-family: var(--font-inter-thin);
}

.page p,
.page a {
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-inter-regular);
}

.page section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10%;
  justify-content: center;

  @media(min-width: 768px) {
    padding: 20%;
  }
}

.page .tagline {
  text-align: center;
}

.page .links {
  display: flex;
  flex-shrink: initial;
  justify-content: center;
  width: 85px;
  margin: auto;
}

.page .links a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}